h3 {
    padding: 0 I !important;
    margin: 0 !important;
}

label.instalmentsLabel {
    min-width: 255px;
}

p-inputmask input{
    width: 100% !important;
}

p-inputmask{
    width: 100% !important;
}
