<div class="log">
    <div class="form col-md-7 mx-auto">
        <form class="form__content" [formGroup]="newSenha">
            <h1>Redefina sua senha</h1>
            <p-card styleClass="cardLogin border-round-2xl mb-3">
                <span class="p-input-icon-left w-full password-input mb-3">
                    <i class="pi pi-lock z-1"></i>
                    <p-password [toggleMask]="true" formControlName="senha"
                        [style]="{'width': '100%', 'border-radius': '1rem'}" placeholder="Nova senha"
                        [feedback]="false"></p-password>
                </span>

                <span class="p-input-icon-left w-full password-input mb-3">
                    <i class="pi pi-lock z-1"></i>
                    <p-password [toggleMask]="true" formControlName="confirmarSenha"
                        [style]="{'width': '100%', 'border-radius': '1rem'}" placeholder="Repetir nova senha"
                        [feedback]="false"></p-password>
                </span>

                <div class="w-full flex justify-content-center align-items-center mb-3">
                    <button [disabled]="newSenha.invalid" (click)="changePassword()" pButton pRipple label="Redefinir Senha"
                        class="w-full text-white bg-indigo-700 border-0 border-round-2xl"></button>
                </div>

            </p-card>
        </form>
    </div>
</div>