.loading {
    position: fixed; /* Fixa o loading na tela, cobrindo todo o viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Fundo preto com 70% de transparência */
    display: flex; /* Flexbox para centralizar o spinner */
    justify-content: center;
    align-items: center;
    pointer-events: all; /* Desativa eventos de clique no fundo */
    z-index: 1000; /* Certifique-se de que o loading está no topo de outros elementos */
}

p-progressSpinner {
    pointer-events: auto; /* Certifica-se de que o spinner em si pode ser interagido, se necessário */
}
